# Dependency
node_modules/

# Build output
dist/
build/
public/build/

# Environment files
.env
.env.*

# System files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Log files
*.log

# Coverage
coverage/

# Cache
.cache/
